$colorTitulosYparrafos:#a1a1a1;
$colorFondosGris:rgb(204, 204, 204);
$colorRojoBtn: #dd365a;
$fontTitulos:'Libre Franklin', sans-serif;
$fonntTamañoTitulos:30px;



/* banner */
*{margin: 0;
  padding: 0;}
  .seccion-banner{
  img{max-width: 100%;}
  
  .img-banner-menos-500px{
      display:none;
  }
  
  }
  
  @media screen and (max-width:600px){
      .seccion-banner{
          .img-banner-menos-500px{
              display:block;
          }
          .img-banner-mas-500px{
              display: none;
          }
      }
  }
      
  


  
  .accordion-button:focus :checked :visited {
    box-shadow: none;
    border-color: rgba(0, 0, 0) !important;
  }
  
  .accordion-button:not(.collapsed) {
    box-shadow: none !important;
  }
  
  
  
 
  
  
  /*BLOQUE TRBAJANDO*/
  
  .div-seguros {
    background-color: #d3d1d1;
    width: 100%;
    height: 6%;
  
  }
  
  .contenedor-log-seguro-h1 {
    display: flex;
    text-align: center;
    width: 60%;
    margin: auto;
  
  }
  
  .img-logo-seguro {
    max-height: 40px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .h1-seguros {
    color: #a1a1a1 ;
    font-family: $fontTitulos;
    font-size:$fonntTamañoTitulos;
    margin-left: 1.5%;
    width: max-content;
    margin-top: auto;
    margin-bottom: auto;
  }
  @media (max-width:550px){
    .h1-seguros {
        font-size: 20px;
    }
    .img-logo-seguro{
        max-height: 28px
    }
    .contenedor-log-seguro-h1{
        width: 85%;
    }
  }
  
  .seguros .btn{
    border-radius: 0!important;
  }
  .seguros .accordion-body p {
    color: black;
  }
  
  .botones-seguros {
    width: 50%;
    margin: auto;
  }
  
  .botones-seguros h3 {
    font-family: $fontTitulos;
    margin: auto;
    font-size: 35px;
  }
  @media (max-width:410px){
    .botones-seguros h3 {
        font-size: 25px;
    }

  }


  .img-botones-seguro-abierto {
    max-height: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .img-botones-seguro {
    max-height: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .seguros .collapsed {
    background-color: rgb(180, 180, 180);
    height: 80px;
    border-radius: 15px !important;
    color: aliceblue;
    border: 2px black solid;
  }
  
  .seguros .collapsed:hover {
    transition: 0.5s;
    border:$colorRojoBtn solid 3px;
    color: $colorRojoBtn;
  }
  
  .seguros .accordion {
    max-width: 860px;
  }
  
  .seguros .accordion-header {
    margin-bottom: 0.5rem !important;
    max-width: 400px;
    min-width: 240px;
    margin: auto;
  }
  
  .seguros .accordion-button {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
  }
  
  .seguros .accordion-button:not(.collapsed) {
    background-color: $colorRojoBtn!important;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
    border-radius: 15px !important;
    height: 80px;
    color: white!important;
  }
  
  .seguros .accordion-button::after {
    content: none !important;
  }
  
  .seguros .accordion-item {
    border: none !important;
  }
  
  .seguros .accordion-body {
    border: 3px solid $colorRojoBtn;
    max-width: 830px;
    margin: auto;
  }
  
  .seguros .accordion-button:focus {
    box-shadow: none !important;
  }
  
  @media (max-width:1300px) {
    .botones-seguros {
      margin: auto;
      width: 700px;
    }
  }
  

  @media (max-width:765px) {
    .botones-seguros {
      margin: auto;
      width: 80%;
    }
  }
  
  .seguros .mobile
  {
  display: none;
  }
  
  @media (max-width:767px) {
    .seguros .accordion-body {
      max-width: 400px;
      min-width: 220px;
      margin: auto;
    }
  
    .seguros .no-mobile{
      display: none;
    }
    .seguros .mobile{
      display: block;
    }
  }
  
  @media (max-width:500px) {
    .seguros .accordion-collapse {
      margin: auto;
      padding: 0;
    }
  
    .seguros .accordion-button {
      margin: auto;
    }
  
    .seguros .accordion-item {
      padding: 0;
    }
  }
  
  /*FIN BLOQUE*/
  
  /*seccion-formularios-siniestro-y-nuevo-seguro*/
  
  .seccion-formularios-siniestro-y-nuevo-seguro {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .seccion-formularios-siniestro-y-nuevo-seguro img {
    max-width: 100%;
  }
  .seccion-formularios-siniestro-y-nuevo-seguro .div-solicitud-seguro-nuevo .boton-solicitud-seguro-nuevo {
    border: none;
  }
  .seccion-formularios-siniestro-y-nuevo-seguro .div-solicitud-seguro-nuevo .boton-solicitud-seguro-nuevo:hover {
    border: solid 2px rgb(253, 255, 160);
    transition: 1s;
  }
  .seccion-formularios-siniestro-y-nuevo-seguro .div-solicitud-seguro-nuevo .img-solicitud-seguro-nuevo-menos500px {
    display: none;
  }
  .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro {
    margin-top: 10px;
  }
  .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .boton-siniestro {
    border: none;
  }
  .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .boton-siniestro:hover {
    border: solid 2px rgb(255, 199, 199);
    transition: 1s;
  }
  .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .img-informe-de-siniestro-menos500px {
    display: none;
  }
  .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .titulo-sinietro {
    display: flex;
    background-color: rgb(204, 204, 204);
    height: 50px;
  }
  .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .titulo-sinietro h2 {
    color: rgb(153, 153, 153);
    margin-left: 1%;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Libre Franklin', sans-serif;
  }
  .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .titulo-sinietro img {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25%;
    width: 30px;
    height: 40px;
  }
  @media screen and (max-width: 500px) {
    .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .titulo-sinietro {
      height: 30px;
  

    }
    .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .titulo-sinietro img {
      margin-left: 9%;
      width: 22px;
      height: 30px;
      
      
    }
  }
  
  .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro{
    .div-boton-siniestro{
        
        display: flex;
        justify-content: end;
        .boton-form-siniestro{
            
            width: 80px;
            height: 50px;
            background-color: rgb(201, 60, 60);
            border: solid rgba(255, 0, 0, 0.027) 1px;
            color: aliceblue;
            }
    }
    
  }

  .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro h3 {
    margin-left: auto;
    margin-right: auto;
  margin-top: 10px;
   width: 520px;
   font-family: $fontTitulos;
   font-size: 22px;
   color:#7e7e7e ;
  }
  .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro .div-datos {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    .input-cel::placeholder{ font-size: 15px;
        color: $colorRojoBtn;}
  }
  .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro .div-texto-botones {
    display: flex;
  }
  .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro .texto-indicador {
    padding-left: 5px;
    border: solid 2px grey;
    width: 170px;
    height: 35px;
  }
  .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro h4{
    color:$colorRojoBtn;
  }
  .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro .botones-addfotos {
    color: white;
    background-color:$colorRojoBtn;
    width: 170px;
    height: 35px;
    margin-left: 5px;
  }
  .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro .input-cel {
    width: 520px;
  }
  @media screen and (max-width: 550px) {


    .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro h3 {
      font-size: 15px;
      width: 85%;
       }
    .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro h4 {
      text-align: center;
      font-size: 15px;
     
    }
    .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro .texto-indicador {
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
    }
    .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro .div-texto-botones {
      display: inline;
     
      
    }
    .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro .div-button{
     
        margin-left: auto;
        margin-right: auto;
        width: max-content;
    }
    .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro .botones-addfotos {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 8px;
      
    }
    .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro {
        .div-cell{
            width: max-content;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .formulario-siniestro .input-cel {
      font-size: 15px;
      width: 170px;
     
    }
  }
  
  @media screen and (max-width: 500px) {
    .seccion-formularios-siniestro-y-nuevo-seguro .div-solicitud-seguro-nuevo .img-solicitud-seguro-nuevo-menos500px {
      display: block;
    }
    .seccion-formularios-siniestro-y-nuevo-seguro .div-solicitud-seguro-nuevo .img-solicitud-seguro-nuevo-mas500px {
      display: none;
    }
    .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .img-informe-de-siniestro-menos500px {
      display: block;
    }
    .seccion-formularios-siniestro-y-nuevo-seguro .div-informe-de-siniestro .img-informe-de-siniestro-mas500px {
      display: none;
    }
  }
  
  
  
  .div-acordiones-info-extra .div-img {
    margin-left: auto;
    margin-right: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: 450px;
    
    
   
  }
  .div-acordiones-info-extra .img-titulo-serv-grua {
    max-width: 350px; 
  }
  .div-acordiones-info-extra .div-img-grua {
    text-align: center;
    background-color: $colorRojoBtn;
    
  }
  .div-acordiones-info-extra .img-seguros-de-grua {
  margin: 5em auto;
    max-width: 400px;
    max-height: auto;
    background-color: white;
  }
  .div-acordiones-info-extra .img-reclamos-de-terceros {
    max-width: 450px;
  }
  .div-acordiones-info-extra .img-informacion-inportante {
    max-width: 350px;
  }
  .div-acordiones-info-extra .accordion-button {
    height: 50px;
    background-color: $colorRojoBtn;
    margin-top: 10px;
  }
  .div-acordiones-info-extra .div-cuerpo-info-importante {
    padding-bottom: 10px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    background-color:$colorRojoBtn;
  }
  .div-acordiones-info-extra .acordion-info-importante {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: aliceblue;
  }
  .div-acordiones-info-extra .cristal {
    background-color: rgb(105, 241, 153);
  }
  .div-acordiones-info-extra .cristal:hover {
    background-color: rgb(50, 240, 116);
  }
  .div-acordiones-info-extra .div-cristales-abierto {
    color: black;
    background-color: aliceblue;
    border: solid 5px rgb(105, 241, 153);
    border-radius: 10px;
  }
  .div-acordiones-info-extra .siniestro-tercero {
    background-color: rgb(153, 204, 255);
  }
  .div-acordiones-info-extra .siniestro-tercero:hover {
    background-color: rgb(108, 176, 243);
  }
  .div-acordiones-info-extra .div-siniestro-abierto {
    color: black;
    background-color: aliceblue;
    border: solid 5px rgb(153, 204, 255);
    border-radius: 10px;
  }
  .div-acordiones-info-extra .ruedas {
    background-color: rgb(153, 102, 255);
  }
  .div-acordiones-info-extra .ruedas:hover {
    background-color: rgb(127, 80, 221);
  }
  .div-acordiones-info-extra .div-ruedas-abierto {
    color: black;
    background-color: aliceblue;
    border: solid 5px rgb(153, 102, 255);
    border-radius: 10px;
  }
  .div-acordiones-info-extra .chocaste {
    background-color: rgb(255, 153, 255);
  }
  .div-acordiones-info-extra .chocaste:hover {
    background-color: rgb(241, 101, 241);
  }
  .div-acordiones-info-extra .div-chocaste-abierto {
    color: black;
    background-color: aliceblue;
    border: solid 5px rgb(255, 153, 255);
    border-radius: 10px;
  }
  .div-acordiones-info-extra .btn {
    color: aliceblue;
    margin-top: 10px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }
  .div-acordiones-info-extra .div-abiertos {

    width: 45%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .div-acordiones-info-extra .accordion-body{
    margin: 0;
    padding: 0;
  }
  
  .div-acordiones-info-extra .accordion-button::after {
    content: none!important;
  }
  
  .div-acordiones-info-extra .accordion-button:not(.collapsed){
    background-color: $colorRojoBtn!important;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
    color: white!important;
  }
  
  
  @media screen and (max-width: 824px) {
    .div-acordiones-info-extra .accordion-button {
      height: 30px;
    }
    
    .div-acordiones-info-extra .btn {
      width: 60%;
    }
    .div-acordiones-info-extra .div-abiertos {
      width: 60%;
    }
  }
  @media screen and (max-width: 700px) {

    .div-acordiones-info-extra .div-img{
        width: 250px;
       
    }
    .div-acordiones-info-extra .img-informacion-inportante {
        max-width: 200px;
    
      }
      .div-acordiones-info-extra .img-reclamos-de-terceros {
        max-width: 250px;
      }
      .div-acordiones-info-extra .img-titulo-serv-grua {
        max-width: 190px;
    }
  }

  @media screen and (max-width: 300px) {

  
    .div-acordiones-info-extra .img-informacion-inportante {
        max-width: 150px;
    
      }
      .div-acordiones-info-extra .img-reclamos-de-terceros {
        max-width: 180px;
      }
      .div-acordiones-info-extra .img-titulo-serv-grua {
        max-width: 140px;
    }
  }

  @media screen and (max-width: 650px) {
    .div-acordiones-info-extra .btn {
      width: 95%;
    }
    .div-acordiones-info-extra .div-abiertos {
      width: 95%;
    }
  }
  
  
 
  
  
  /* seccion nosotros */
 
 
 
  .seccion-nosotros .accordion .accordion-button {
    margin-bottom: 15px;
    height: 40px;
    color: rgb(90, 89, 89);
    background-color: $colorFondosGris;
    border: none !important;
  }
  .seccion-nosotros .accordion .accordion-button .accordion-button::after {
    content: none !important;
  }
  .seccion-nosotros .accordion .accordion-button .titulo-nosotros-h2-img {
    margin-left: auto;
    width: 526px;
    display: flex;
   
    
  }
  .seccion-nosotros .accordion .accordion-button .titulo-nosotros-h2-img img {
    max-width: 30px;
    max-height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    
  }
  .seccion-nosotros .accordion .accordion-button .titulo-nosotros-h2-img h2 {
    font-family:$fontTitulos;
    color: $colorTitulosYparrafos;
    margin-left: 10px;
    font-size: $fonntTamañoTitulos;
    margin-top: auto;
    margin-bottom: auto;
    
    
   
  }
.div-sentrar-texto{ 
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

  
  
  
  
  
@media screen and (max-width: 550px){
    .seccion-nosotros .accordion .accordion-button {
        height: 30px;
    }

    .seccion-nosotros .accordion .accordion-button .titulo-nosotros-h2-img img {
        height: 29px;
    }

.seccion-nosotros .accordion .accordion-button .titulo-nosotros-h2-img h2 {
  font-size: 20px;
  
}
.div-sentrar-texto{ 
    
    width: 95%;
  }
}  
  
  
  
  
  
  
  
  
  
  
  .consultas-seccion {
    margin-top: 6%;
    background-color:$colorFondosGris;
   
  
  }
  .titulo-sec-consultas{
  font-family: $fontTitulos;
  color: grey;

  }
  .subtitulo-sec-consultas{color:$colorTitulosYparrafos;}
  
  .form {
    display: grid;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .form-im {
    margin-bottom: 10px;
  }
  
  .boton-enviar-form {
    width: 80px;
    height: 50px;
    background-color: rgb(201, 60, 60);
    border: solid rgba(255, 0, 0, 0.027) 1px;
    color: aliceblue;
  
  }
  
  .div-form {
    max-width: 610px;
    margin: auto;
  }
  
  .div-btn-form {
    background-color: antiquewhite;
    justify-self: end;
  }
  
  .div-padre {
    padding: 15px;
    max-width: 610px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
 
  .div-img {
    width: max-content;
  }
  
  .img-footer {
    width: 150px;
  }
  
  .div-horarios-footer {
    margin-top: 100px;
    margin-left: 100px;
  }
  
  h6 {
    color: aliceblue;
  }
  
  p {
    color: aliceblue;
  }
  
  .img-solicitud-seguro {
    max-width: 100%;
  }
  
  .img-informe-de-siniestro {
    max-width: 100%;
  }
  
  .img-servicio-de-grua {
    max-width: 100%;
  }
  
  .img-reclamos-de-terceros {
    max-width: 100%;
  }
  
  .img-info-importante {
    max-width: 100%;
  }
  
  .img-diferentes-seguros-banner {
    max-width: 100%;
  }
  
  .nosotros-img {
    border: solid 1px rgba(0, 0, 0, 0.11);
    width: 100%;
  }
  
  .seguros {
    margin-bottom: 50px;
  }
  
  .solicitud-de-seguro {
    display: inline-block;
    position: relative;
  }
  
  .contenedor-solicitud-de-seguro {
    display: inline-block;
    position: relative;
  }
  
  .boton-solicitud-de-seguros {
    font-size: 30px;
    width: 8%;
    height: 60px;
    margin-top: 13%;
    margin-left: 26.5%;
    background-color: brown;
    position: absolute;
  }
  
  
  
  
  .contenedor-informe-de-siniestro {
    margin-top: 20px;
    display: inline-block;
    position: relative;
  }
  
  .contenedor-diferentes-seguros {
    margin-top: 20px;
    display: inline-block;
    position: relative;
  }
  
  .contenedor-carrucel {
    position: absolute;
  }
  
  .servicios-reclamos-info {
    margin-top: 20px;
  }
  
  .contenedor-servicio-de-grua-info {
    margin-bottom: 20px;
  }
  
  .reclamos-de-terceros {
    margin-bottom: 20px;
  }
  
  .seccion-nosotros {
  
    margin-top: 20px;
  
  }


  /* seccion contacto */
  .seccion-contacto{
   background-color:$colorFondosGris;
   border-top: black 1px solid;
   
   .div-sentrar-contacto{
    margin-left: auto;
    margin-right: auto;
    width: 580px;

    .div-contacto-h4{
    
        .contacto-h4{
            margin-top: 10px;
            font-family:$fontTitulos;
            font-size: $fontTitulos;
            color:gray;


        }
    }

    .div-contacto-yasmin{
        .contacto-h6{
            color: $colorTitulosYparrafos;
        }
        .contacto-p{
            color: $colorTitulosYparrafos;
        }
    }
.div-contacto-emails{
    .h6-contacto-mails{
     color: $colorTitulosYparrafos
    }
}
 .div-contacto-mailss{
    
   
@media screen and (max-width: 610px){
    display: none;

}
    .contacto-yasmin{
        display: flex;
        justify-content: space-between;
            P{font-size: 13px;
                color:$colorTitulosYparrafos}
        }
        .contacto-analia{
            display: flex;
            justify-content: space-between;
            p{ font-size: 13px;
                color: $colorTitulosYparrafos;}
        }
        .contacto-tatiana{
            display: flex;
            justify-content: space-between;
            p{ font-size: 13px;
                color:$colorTitulosYparrafos;}
        }
    }

    
 }
  
    
  }

 .div-mobile-contactos{
 
  display: none;
 
}
@media screen and (max-width:610px){
    .seccion-contacto{
        .div-sentrar-contacto{width:98%;}
    }
}
   

@media screen and (max-width:610px){
    .div-mobile-contactos{
       
        height:300px;
        margin-left: auto;
        margin-right: auto;
        display:block;
        .contacto-yasmin-mobile{
            p{color: $colorTitulosYparrafos;}
            }
     .contacto-tatiana-mobile{
        p{color: $colorTitulosYparrafos;}

     }
     .contacto-analia-mobile{
        p{color: $colorTitulosYparrafos;}

     }
     
    }
    


}
@media screen and (max-width:310px){
    .div-mobile-contactos{
        .contacto-yasmin-mobile{
            p{font-size: 12px;}
            }
     .contacto-tatiana-mobile{
        p{font-size: 12px;}

     }
     .contacto-analia-mobile{
        p{font-size: 12px;}
     } 
    }  
}

    

/* SOLICITUD SEGURO NUEVO */

.div-seguro-nuevo{
  .div-h2-flex{ 
    width: 100%;
    height: 45px;
    background-color: $colorFondosGris;
    .div-h2-sentrar{
      margin-left: auto;
      margin-right: auto;
      width: 480px;
      background-color: $colorFondosGris;
      display: flex;
      img{height: 40px;
         margin-top: auto;
         margin-bottom: auto;
        }
      h2 {
        margin-left: 10px;
        margin-top: auto;
        margin-bottom: auto;
        font-size:$fonntTamañoTitulos;
         font-family: $fontTitulos;
          color: $colorTitulosYparrafos;
        }
    }
   
  }
  .subtitulo{
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    h3{
      color: gray;
      font-family: $fontTitulos;
      font-size: 25px;
    }
  }
  form{
    .div-flex{
      width: 530px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      h6{
        color: black;
        padding-left: 3px;
        width: 170px;
        height: 30px;
        border: 1px solid black;
      }
      button{
        background-color:$colorRojoBtn;
        margin-left: 10px;
        color: white;
        width: 170px;
        height: 30px;
      }
    }
    .selector-pago{
      select{
        width: 170px;
      }
      margin-left: auto;
      margin-right: auto;
      width: 530px;
      background-color: #dd365a;}
  }
}



@media screen and (max-width:495px){
  .div-seguro-nuevo{
      .div-h2-flex{ 
        height: 30px;
        .div-h2-sentrar{ 
          width: 100%;
          img{margin-left: 2%;
            height: 29px;
            }
          h2 {font-size: 80%;
            }  
        }
      }
      .subtitulo{
        text-align: center;
        width: 98%;
        margin-left: auto;
        margin-right: auto;
      } 
    }
  }
    @media screen and (max-width:560px){
      .div-seguro-nuevo{
        form{
          .button-div{
            margin-left: auto;
            margin-right: auto;
            width: max-content;
            }
          .div-flex{
            width: 100%;
            display: inline-block;
            h6{
              margin-left: auto;
              margin-right: auto;
            }
          button{
           margin-left: 0;
            margin-bottom: 10px;
          }    
          }
          .selector-pago{
            text-align: center;
            width:100%;
          }
        }
      }
    }


/* footer */

.footer {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #1b1717;
  display: flex;
  justify-content: space-between;
}
.footer .horarios {
  margin-left: 20%;
  margin-top: auto;
  margin-bottom: auto;
  color: rgb(255, 255, 255);
}
.footer .QR img {
  max-width: 140px;
}
@media (max-width: 615px) {
  .footer {
    display: inline-block;
  }
  .footer .horarios {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .footer .QR {
    margin-top: 10px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
  }
}

